:root {
    --primary: #4c5454;
    --secondary: #ff715b;
    --accent1: #1ea896;
    --accent2: #523f38;
    --color-para-bg: var(--accent2);
    --color-bg-text: white;

    --heading-font: Roboto, sans-serif;
    --paragraph-font: Actor, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: 'Actor', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 400px;
    margin: auto;
}

header {
    background-color: var(--primary);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: relative;
}

header img {
    display: inline-block;
    vertical-align: center;
    height: 150px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
    padding: 10px;
}

.social {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.social svg {
    fill: white;
    padding-left: 10px;
    padding-right: 10px;
}

#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: white;
    color: var(--secondary);
    margin-left: 30%;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: none;
}

.navigation.open {
    display: block;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    left: 50px;
    bottom: 15px;
    color: var(--accent1);
    font-size: medium;
}

.cta {
    position: absolute;
    right: 50px;
    top: 20px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

section {
    margin: 10px 0px;
    padding: 0px;
    background-color: var(--color-para-bg);
    color: var(--color-bg-text);
    border: var(--accent1);
    border-style: solid;
    border-width: 1px;
}

section h2 {
    background: #1ea896;
    color: #000000;
    margin: 0;
    padding: 5px;
    width: 100%;
}

section div {
    padding: 10px 20px;
}

.card {
    background: white;
    color: black;
}


footer {
    background-color: var(--primary);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#mode {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 3rem;
    cursor: pointer;
}