@media screen and (min-width: 1024px) {

    body {
        width: 1024px;
        margin: auto;
    }

    header {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .social {
        margin: 0px;
        justify-content: center;
        width: auto;
    }
}