@media screen and (min-width: 768px) {

    body {
        width: 768px;
        margin: auto;
    }

    .member-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px;
        align-items: center;
    }
}