@media screen and (min-width: 850px) {

    body {
        width: 800px;
    }

    nav {
        flex-direction: row;
    }

    main {
        grid-template-columns: 530px 250px;
        column-gap: 20px;
    }

}