@media screen and (min-width: 640px) {

    body {
        width: 800px;
    }

    nav {
        flex-direction: row;
    }

    main {
        grid-template-columns: 70% 30%;
        column-gap: 20px;
    }

}